/* Estilos para la página de detalles */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: #333;
}

#detalles-pelicula {
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: #fff;
}

#detalles-pelicula h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: -1rem;
}

#detalles-pelicula img {
    max-width: 100%;
    display: block;
    margin: 0 auto 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#detalles-pelicula p {
    margin-bottom: 1rem;
    line-height: 1.6;
    color: #333;
}

#detalles-pelicula p:last-child {
    margin-bottom: 0;
}

/* Estilos para el botón de volver */
.back-button {
    display: block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.back-button:hover {
    background-color: #0056b3;
}
.details-button{
    background-color: aqua;
  }