<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Series</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="../css/peli.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark custom-navbar">
        <div class="container">
          <a class="navbar-brand" href="#">WatchMovie</a>
    
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-desplegable" aria-controls="menu-desplegable" aria-expanded="false" aria-label="Menu de navegación">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="menu-desplegable">
            <form id="search-form" class="form-inline ml-auto">
              <input id="search-input" class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Series
                  </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="./js/series.html">Accion</a>
                  <a class="dropdown-item" href="./js/series.html">Terror</a>
                </ul>
              <div>
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Usuario
                  </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Mi perfil</a>
                      <a class="dropdown-item" href="#">Configuración</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="./views/resgistro.html">Cerrar sesión</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <h1>Accion</h1>
    </header>
    
    <main>
      <table class="search-results">
        <tr>
          
        </tr>
        <tbody id="results-container"></tbody>
    </table>
      <table class="series-table">
        <tr>
        </tr>
        <tr>
            <td>
                <img class="movie-poster" src="../img/busquedaImplacable.jpg" alt="Busqueda_Implacable"><br>
                <span class="movie-title">Busqueda Implacable</span> - <span class="movie-year">2021</span>
                <button class="details-button" data-pelicula="Busqueda_Implacable">Ver detalles</button>
              </td>
              <td>
                <img class="movie-poster" src="../img/instinto.jpg" alt="instinto peligroso"><br>
                <span class="movie-title">Instinto Peligroso</span> - <span class="movie-year">2019</span>
                <button class="details-button" data-pelicula="instinto peligroso">Ver detalles</button>
              </td>
              <td>
                <img class="movie-poster" src="../img/justice.jpg" alt="justice league"><br>
                <span class="movie-title">justice league</span> - <span class="movie-year">2019</span>
                <button class="details-button" data-pelicula="justice league">Ver detalles</button>
              </td>
              <td>
                <img class="movie-poster" src="../img/transformer.jpg" alt="trasnformer"><br>
                <span class="movie-title">Transformer</span> - <span class="movie-year">2019</span>
                <button class="details-button" data-pelicula="trasnformer">Ver detalles</button>
              </td>
        </tr>
        <tr>
        </tr>
        <tr>
          <td>
            <img class="movie-poster" src="../img/the warrios.jpg" alt="The Warriors"><br>
            <span class="movie-title">The Warriors, los amos de la noche</span> - <span class="movie-year">2020</span>
            <button class="details-button" data-pelicula="The Warriors">Ver detalles</button>
          </td>
          <td>
            <img class="movie-poster" src="../img/operacion.jpg" alt="Operacion Dragon"><br>
            <span class="movie-title">Operacion Dragon</span> - <span class="movie-year">2018</span>
            <button class="details-button" data-pelicula="Operacion Dragon">Ver detalles</button>
          </td>
          <td>
            <img class="movie-poster" src="../img/rescate.jpg" alt="Rescate"><br>
            <span class="movie-title"> Rescate en Nueva York</span> - <span class="movie-year">2017</span>
            <button class="details-button" data-pelicula="Rescate">Ver detalles</button>
          </td>
          <td>
            <img class="movie-poster" src="../img/golpe.jpg" alt="Golpe en la pequeña China"><br>
            <span class="movie-title">Golpe en la pequeña China</span> - <span class="movie-year">2016</span>
            <button class="details-button" data-pelicula="Golpe en la pequeña China">Ver detalles</button>
          </td>
          <!-- Agrega más películas de Miedo aquí -->
        </tr>
      </table>
    
      <div class="modal-container">
        <div class="modal">
          <h2 class="modal-title"></h2>
          <img class="modal-poster" src="" alt="">
          <p class="modal-description"></p>
          <p class="modal-year"></p>
          <button class="close-button">Cerrar</button>
        </div>0
      </div>

    </main>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>