<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Series</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="../css/peli.css">
  </head>
  <body>
    <header>
      
      <nav class="navbar navbar-expand-md navbar-dark custom-navbar">
        <div class="container">
          <a class="navbar-brand" href="#">WatchMovie</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-desplegable" aria-controls="menu-desplegable" aria-expanded="false" aria-label="Menu de navegación">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="menu-desplegable">
              <form id="search-form" class="form-inline ml-auto">
                <input id="search-input" class="form-control mr-sm-2" type="search" placeholder="Buscar películas" aria-label="Buscar">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="../index.html">Inicio</a>
                  </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          peliculas
                      </a>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="/views/AccionPeliculas.html">Accion</a>
                          <a class="dropdown-item" href="/views/TerrorPeliculas.html">Terror</a>
                      </div>
                  </li>
              </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Usuario
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Mi perfil</a>
                                <a class="dropdown-item" href="#">Configuración</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Cerrar sesión</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

      <h1>Dramas</h1>
    </header>
    
    <main>
      <table class="search-results">
        <tr>
          
        </tr>
        <tbody id="results-container"></tbody>
    </table>
      <table class="series-table">
        <tr>
        </tr>
        <tr>
          <td>
            <img class="movie-poster" src="../img/honesty.jpg" alt="honesty"><br>
            <span class="movie-title">Mr Honesty</span> - <span class="movie-year">2021</span>
            <button class="details-button" data-pelicula="honesty">Ver detalles</button>
          </td>
          <td>
            <img class="movie-poster" src="../img/fox.jpg" alt="Fox and Miss"><br>
            <span class="movie-title">Mr. Fox and Miss Rose</span> - <span class="movie-year">2019</span>
            <button class="details-button" data-pelicula=" Fox and Miss">Ver detalles</button>
          </td>
          <td>
            <img class="movie-poster" src="../img/destiny.jpg" alt="my destiny"><br>
            <span class="movie-title">You are my destiny </span> - <span class="movie-year">2019</span>
            <button class="details-button" data-pelicula="my destiny">Ver detalles</button>
          </td>
          <td>
            <img class="movie-poster" src="../img/romance.jpg" alt="Tiger and Rose"><br>
            <span class="movie-title">Romance of Tiger and Rose</span> - <span class="movie-year">2019</span>
            <button class="details-button" data-pelicula="Tiger and Rose">Ver detalles</button>
          </td>
        </tr>
        <tr>
        </tr>
        <tr>
          <td>
            <img class="movie-poster" src="../img/girldfriend.jpg" alt="My Girlfriend is an Alien"><br>
            <span class="movie-title">My Girlfriend is an Alien</span> - <span class="movie-year">2020</span>
            <button class="details-button" data-pelicula="My Girlfriend is an Alien">Ver detalles</button>
          </td>
          <td>
            <img class="movie-poster" src="../img/shoulder.jpg" alt="Put your head on my shoulder"><br>
            <span class="movie-title">Put your head on my shoulder</span> - <span class="movie-year">2018</span>
            <button class="details-button" data-pelicula="Put your head on my shoulder">Ver detalles</button>
          </td>
          <td>
            <img class="movie-poster" src="../img/love.jpg" alt="The Love Equations"><br>
            <span class="movie-title">The Love Equations</span> - <span class="movie-year">2017</span>
            <button class="details-button" data-pelicula="The Love Equations">Ver detalles</button>
          </td>
          <td>
            <img class="movie-poster" src="../img/deep.jpg" alt="Love is deep"><br>
            <span class="movie-title">Love is deep</span> - <span class="movie-year">2016</span>
            <button class="details-button" data-pelicula="Love is deep">Ver detalles</button>
          </td>
          <!-- Agrega más películas de Miedo aquí -->
        </tr>
      </table>
    
      <div class="modal-container">
        <div class="modal">
          <h2 class="modal-title"></h2>
          <img class="modal-poster" src="" alt="">
          <p class="modal-description"></p>
          <p class="modal-year"></p>
          <button class="close-button">Cerrar</button>
        </div>0
      </div>

    </main>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../js/main2.js"></script>
    <script src="../js/detalleSeri.js"></script>
  </body>
</html>